name: muc_jomtravel
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  firebase_core: ^4.3.0
  google_sign_in: ^7.2.0
  firebase_auth: ^6.1.3
  cloud_firestore: ^6.1.1
  shared_preferences: ^2.5.4
  flutter_secure_storage: ^10.0.0
  uuid: ^4.2.0
  intl: ^0.20.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/icon/
    - assets/images/
